/* common styles */
*{
    margin: 0;
    padding:0;
    font-family: 'Work Sans', sans-serif;
}

/* header's banner styles */
.banner{
    background-image: url('images/banner/banner2.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    display: flex;
    flex-direction:column;
    align-items: end;
}
.banner-title{
text-align: right;
font-size: 65px;
font-weight: 700;
}
.banner-desc{
    width: 40%;
    text-align: right;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.btn-primary{
    border-radius: 5px;
    background: #F15B22;
    padding: 20px 35px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
}
.btn-secondary{
    border-radius: 5px;
    background: white;
    padding: 20px 35px;
    border: none;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
}

/* main area style */
main{
    width: 1200px;
    margin: 0 auto;
}
/* failure styles */
.failure-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin-top: 139px;
}
.failure-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    }
    .failure-desc{
        margin-top: 24px;
        color:#444343;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        width: 70%;
    }
    .failure-item{
        margin-top: 16px;
        color:#444343;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
    .failure-item li{
        list-style: none;
    }
  
    /* my plan style */
    .plan-heading{
        text-align: center;
        margin-top: 120px;
        font-size: 40px;
        font-weight: 700;
    }
    .plan-container{
        display: flex;
        margin-top: 50px;
        gap: 100px;
    }
    .plan-content {
        text-align: center;
    }
    .plan-title{
        color:#151414;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        margin-top: 24px;
    }
    .plan-desc{
        margin-top: 16px;
        color: #737272;
        text-align: center;
        font-size: 25px;
        font-weight: 500;
    }
    /* mindset area */
    .mindset-area{
        margin-top: 130px;
        padding: 60px 600px 60px 140px ;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
        background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url('images/watch.png');
    }
    .mindset-title{
        color: #FFF;
        font-size: 40px;
        font-weight: 700;
    }

    /* footer area style */
    footer{
       
        background-color: black;
        
    }
    .footer-container{
        margin: 120px auto 0px auto;
        max-width: 1200px;
        display: flex;
        gap: 330px;
        padding: 140px;
    }

    .footer-title{
        color: #F8F8F8;
        font-size: 45px;
        font-weight: 700;
    }
    .footer-desc{
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .social-links a{
        margin-right: 16px;
    }
    .email{
        background-color: black;
        border: 1px solid white;
        border-radius: 10px;
        padding: 30px 60px;
        font-size: 20px;
        margin-top: 31px;
        color: white;
    }